USE [web]
GO
/****** Object:  Table [dbo].[poi_media]    Script Date: 3/12/2026 9:00:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[poi_media](
	[media_id] [int] IDENTITY(1,1) NOT NULL,
	[poi_id] [int] NOT NULL,
	[media_type] [varchar](50) NOT NULL,
	[media_url] [varchar](255) NOT NULL,
	[language] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[media_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pois]    Script Date: 3/12/2026 9:00:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pois](
	[poi_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[latitude] [decimal](11, 8) NOT NULL,
	[longitude] [decimal](11, 8) NOT NULL,
	[radius] [int] NOT NULL,
	[priority] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[poi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qr_codes]    Script Date: 3/12/2026 9:00:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qr_codes](
	[qr_id] [int] IDENTITY(1,1) NOT NULL,
	[poi_id] [int] NOT NULL,
	[qr_code_data] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[qr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[poi_media] ADD  DEFAULT ('vi') FOR [language]
GO
ALTER TABLE [dbo].[pois] ADD  DEFAULT ((15)) FOR [radius]
GO
ALTER TABLE [dbo].[pois] ADD  DEFAULT ((1)) FOR [priority]
GO
ALTER TABLE [dbo].[poi_media]  WITH CHECK ADD FOREIGN KEY([poi_id])
REFERENCES [dbo].[pois] ([poi_id])
GO
ALTER TABLE [dbo].[qr_codes]  WITH CHECK ADD FOREIGN KEY([poi_id])
REFERENCES [dbo].[pois] ([poi_id])
GO
