USE [web]
GO
/****** Object:  Table [dbo].[poi_category]    Script Date: 3/13/2026 9:30:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[poi_category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[poi_media]    Script Date: 3/13/2026 9:30:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[poi_media](
	[media_id] [int] IDENTITY(1,1) NOT NULL,
	[poi_id] [int] NOT NULL,
	[media_type] [varchar](50) NOT NULL,
	[media_url] [varchar](255) NOT NULL,
	[language] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[media_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[poi_visit_history]    Script Date: 3/13/2026 9:30:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[poi_visit_history](
	[visit_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[poi_id] [int] NULL,
	[visit_time] [datetime] NULL,
	[listen_duration] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[visit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pois]    Script Date: 3/13/2026 9:30:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pois](
	[poi_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[latitude] [decimal](11, 8) NOT NULL,
	[longitude] [decimal](11, 8) NOT NULL,
	[radius] [int] NULL,
	[priority] [int] NULL,
	[image_thumbnail] [varchar](255) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[poi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qr_codes]    Script Date: 3/13/2026 9:30:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qr_codes](
	[qr_id] [int] IDENTITY(1,1) NOT NULL,
	[poi_id] [int] NOT NULL,
	[qr_code_data] [varchar](255) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[qr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tour]    Script Date: 3/13/2026 9:30:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tour](
	[tour_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[estimated_time] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[tour_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tour_poi]    Script Date: 3/13/2026 9:30:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tour_poi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tour_id] [int] NULL,
	[poi_id] [int] NULL,
	[order_index] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_location_log]    Script Date: 3/13/2026 9:30:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_location_log](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[latitude] [decimal](11, 8) NULL,
	[longitude] [decimal](11, 8) NULL,
	[recorded_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 3/13/2026 9:30:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NULL,
	[display_name] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[poi_category] ON 

INSERT [dbo].[poi_category] ([category_id], [category_name], [description]) VALUES (1, N'Động vật', N'Khu nuôi động vật')
INSERT [dbo].[poi_category] ([category_id], [category_name], [description]) VALUES (2, N'Thực vật', N'Vườn cây')
INSERT [dbo].[poi_category] ([category_id], [category_name], [description]) VALUES (3, N'Công trình', N'Công trình lịch sử')
SET IDENTITY_INSERT [dbo].[poi_category] OFF
GO
SET IDENTITY_INSERT [dbo].[poi_media] ON 

INSERT [dbo].[poi_media] ([media_id], [poi_id], [media_type], [media_url], [language]) VALUES (1, 1, N'audio', N'media/audio/ho_dong_duong_vi.mp3', N'vi')
INSERT [dbo].[poi_media] ([media_id], [poi_id], [media_type], [media_url], [language]) VALUES (2, 2, N'audio', N'media/audio/su_tu_vi.mp3', N'vi')
INSERT [dbo].[poi_media] ([media_id], [poi_id], [media_type], [media_url], [language]) VALUES (3, 3, N'audio', N'media/audio/voi_vi.mp3', N'vi')
SET IDENTITY_INSERT [dbo].[poi_media] OFF
GO
SET IDENTITY_INSERT [dbo].[poi_visit_history] ON 

INSERT [dbo].[poi_visit_history] ([visit_id], [user_id], [poi_id], [visit_time], [listen_duration]) VALUES (1, 1, 1, CAST(N'2026-03-13T09:03:40.877' AS DateTime), 120)
INSERT [dbo].[poi_visit_history] ([visit_id], [user_id], [poi_id], [visit_time], [listen_duration]) VALUES (2, 1, 2, CAST(N'2026-03-13T09:03:40.877' AS DateTime), 90)
INSERT [dbo].[poi_visit_history] ([visit_id], [user_id], [poi_id], [visit_time], [listen_duration]) VALUES (3, 2, 3, CAST(N'2026-03-13T09:03:40.877' AS DateTime), 150)
SET IDENTITY_INSERT [dbo].[poi_visit_history] OFF
GO
SET IDENTITY_INSERT [dbo].[pois] ON 

INSERT [dbo].[pois] ([poi_id], [category_id], [name], [description], [latitude], [longitude], [radius], [priority], [image_thumbnail], [is_active], [created_at]) VALUES (1, 1, N'Khu Hổ Đông Dương', N'Nơi nuôi hổ Đông Dương', CAST(10.78723000 AS Decimal(11, 8)), CAST(106.70589000 AS Decimal(11, 8)), 15, 1, NULL, 1, CAST(N'2026-03-13T08:56:57.350' AS DateTime))
INSERT [dbo].[pois] ([poi_id], [category_id], [name], [description], [latitude], [longitude], [radius], [priority], [image_thumbnail], [is_active], [created_at]) VALUES (2, 1, N'Khu Sư Tử', N'Nơi nuôi sư tử châu Phi', CAST(10.78741000 AS Decimal(11, 8)), CAST(106.70612000 AS Decimal(11, 8)), 15, 1, NULL, 1, CAST(N'2026-03-13T08:56:57.350' AS DateTime))
INSERT [dbo].[pois] ([poi_id], [category_id], [name], [description], [latitude], [longitude], [radius], [priority], [image_thumbnail], [is_active], [created_at]) VALUES (3, 1, N'Khu Voi', N'Nơi nuôi voi châu Á', CAST(10.78752000 AS Decimal(11, 8)), CAST(106.70630000 AS Decimal(11, 8)), 15, 1, NULL, 1, CAST(N'2026-03-13T08:56:57.350' AS DateTime))
SET IDENTITY_INSERT [dbo].[pois] OFF
GO
SET IDENTITY_INSERT [dbo].[qr_codes] ON 

INSERT [dbo].[qr_codes] ([qr_id], [poi_id], [qr_code_data], [created_at]) VALUES (1, 1, N'QR_TCV_001', CAST(N'2026-03-13T09:03:40.873' AS DateTime))
INSERT [dbo].[qr_codes] ([qr_id], [poi_id], [qr_code_data], [created_at]) VALUES (2, 2, N'QR_TCV_002', CAST(N'2026-03-13T09:03:40.873' AS DateTime))
INSERT [dbo].[qr_codes] ([qr_id], [poi_id], [qr_code_data], [created_at]) VALUES (3, 3, N'QR_TCV_003', CAST(N'2026-03-13T09:03:40.873' AS DateTime))
SET IDENTITY_INSERT [dbo].[qr_codes] OFF
GO
SET IDENTITY_INSERT [dbo].[tour] ON 

INSERT [dbo].[tour] ([tour_id], [name], [description], [estimated_time], [created_at]) VALUES (1, N'Tour động vật nổi bật', N'Tour tham quan các loài động vật nổi bật trong Thảo Cầm Viên', 60, CAST(N'2026-03-13T09:03:40.873' AS DateTime))
INSERT [dbo].[tour] ([tour_id], [name], [description], [estimated_time], [created_at]) VALUES (2, N'Tour khám phá toàn bộ', N'Tour tham quan toàn bộ các điểm nổi bật trong Thảo Cầm Viên', 120, CAST(N'2026-03-13T09:03:40.873' AS DateTime))
INSERT [dbo].[tour] ([tour_id], [name], [description], [estimated_time], [created_at]) VALUES (3, N'Tour động vật nổi bật', N'Tour tham quan các loài động vật nổi bật trong Thảo Cầm Viên', 60, CAST(N'2026-03-13T09:07:52.027' AS DateTime))
SET IDENTITY_INSERT [dbo].[tour] OFF
GO
SET IDENTITY_INSERT [dbo].[tour_poi] ON 

INSERT [dbo].[tour_poi] ([id], [tour_id], [poi_id], [order_index]) VALUES (1, 1, 1, 1)
INSERT [dbo].[tour_poi] ([id], [tour_id], [poi_id], [order_index]) VALUES (2, 1, 2, 2)
INSERT [dbo].[tour_poi] ([id], [tour_id], [poi_id], [order_index]) VALUES (3, 1, 3, 3)
SET IDENTITY_INSERT [dbo].[tour_poi] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [email], [display_name], [created_at]) VALUES (1, N'nguyenvana@gmail.com', N'Nguyễn Văn A', CAST(N'2026-03-13T09:03:40.873' AS DateTime))
INSERT [dbo].[users] ([user_id], [email], [display_name], [created_at]) VALUES (2, N'tranthib@gmail.com', N'Trần Thị B', CAST(N'2026-03-13T09:03:40.873' AS DateTime))
INSERT [dbo].[users] ([user_id], [email], [display_name], [created_at]) VALUES (3, N'phamvanh@gmail.com', N'Phạm Văn H', CAST(N'2026-03-13T09:03:40.873' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[poi_media] ADD  DEFAULT ('vi') FOR [language]
GO
ALTER TABLE [dbo].[poi_visit_history] ADD  DEFAULT (getdate()) FOR [visit_time]
GO
ALTER TABLE [dbo].[pois] ADD  DEFAULT ((15)) FOR [radius]
GO
ALTER TABLE [dbo].[pois] ADD  DEFAULT ((1)) FOR [priority]
GO
ALTER TABLE [dbo].[pois] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[pois] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[qr_codes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tour] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_location_log] ADD  DEFAULT (getdate()) FOR [recorded_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[poi_media]  WITH CHECK ADD  CONSTRAINT [FK_media_poi] FOREIGN KEY([poi_id])
REFERENCES [dbo].[pois] ([poi_id])
GO
ALTER TABLE [dbo].[poi_media] CHECK CONSTRAINT [FK_media_poi]
GO
ALTER TABLE [dbo].[poi_visit_history]  WITH CHECK ADD  CONSTRAINT [FK_visit_poi] FOREIGN KEY([poi_id])
REFERENCES [dbo].[pois] ([poi_id])
GO
ALTER TABLE [dbo].[poi_visit_history] CHECK CONSTRAINT [FK_visit_poi]
GO
ALTER TABLE [dbo].[poi_visit_history]  WITH CHECK ADD  CONSTRAINT [FK_visit_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[poi_visit_history] CHECK CONSTRAINT [FK_visit_user]
GO
ALTER TABLE [dbo].[pois]  WITH CHECK ADD  CONSTRAINT [FK_pois_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[poi_category] ([category_id])
GO
ALTER TABLE [dbo].[pois] CHECK CONSTRAINT [FK_pois_category]
GO
ALTER TABLE [dbo].[qr_codes]  WITH CHECK ADD  CONSTRAINT [FK_qr_poi] FOREIGN KEY([poi_id])
REFERENCES [dbo].[pois] ([poi_id])
GO
ALTER TABLE [dbo].[qr_codes] CHECK CONSTRAINT [FK_qr_poi]
GO
ALTER TABLE [dbo].[tour_poi]  WITH CHECK ADD  CONSTRAINT [FK_tourpoi_poi] FOREIGN KEY([poi_id])
REFERENCES [dbo].[pois] ([poi_id])
GO
ALTER TABLE [dbo].[tour_poi] CHECK CONSTRAINT [FK_tourpoi_poi]
GO
ALTER TABLE [dbo].[tour_poi]  WITH CHECK ADD  CONSTRAINT [FK_tourpoi_tour] FOREIGN KEY([tour_id])
REFERENCES [dbo].[tour] ([tour_id])
GO
ALTER TABLE [dbo].[tour_poi] CHECK CONSTRAINT [FK_tourpoi_tour]
GO
ALTER TABLE [dbo].[user_location_log]  WITH CHECK ADD  CONSTRAINT [FK_location_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[user_location_log] CHECK CONSTRAINT [FK_location_user]
GO
